@charset "utf-8";

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav {
  display: block;
}

::selection {background: #6accd7; color: #fff;}
::-moz-selection {background:#6accd7; color: #fff;}


body {
	height: 100vh;
	width: 100vw;
}

/*мобильная версия*/
@media (max-width: 768px){
	.product {
		display: flex;
		flex-wrap: nowrap;
	    flex-direction: column;
		
		margin-top: 2%;
		margin-bottom: 2%;
		
		
		width: 100vw;
		z-index: 0;
		float: left;
	    align-content : center;
		justify-content: center;
		align-items: stretch;
	}
	#pc_img {
		display: none;
	}
	
	#mobile_img {
		transition: 1.5s;
		z-index: 0;
	}
	img {
		image-rendering: -moz-crisp-edges; /* Firefox */
		-ms-interpolation-mode: nearest-neighbor;  /* IE */
		image-rendering: crisp-edges; /* Стандартное свойство */
	}

	/*Возврат к Главной странице*/
	div #come_back {
		display: flex;
		flex-wrap: nowrap;
	    flex-direction: row;
		
		width: 100vw;
		height: auto;
		
		padding-left: 4px;
		
		top: 80px;
		margin-bottom: 1%;
		
		list-style-type: none;
	    
		font-family: sans-serif;
		font-size: 1.0em;
		font-weight: bold;
		
		z-index: 1;
		border: 1px solid red;
	}
	
	#back_home a {
		text-decoration: none !important;
		cursor:pointer;
		color: black;
	}
	
	#this_page {
		cursor:pointer;
	}
	
	#back_home a::after {
		display: inline-block;
		color: black;
		content: ' > ';
	}
	
	#back_home a:hover {
		display: inline-block;
		color: blue;
		border-bottom: 1px solid black;
	}
	
	.about_this {
		align-content: center;
		justify-content: center;
		align-items: stretch;
		
		border: 1px solid red;
	}
	.about_this > div #come_back{
		
		height: auto;
	}
	
	.img-preview {
		justify-content: center;
		object-fit: cover;
		border-radius: 5px;
		margin-bottom: 10px;
		width: 100%;
		object-fit: cover;
		height: 250px;
		display: inline-block;
		border: 1px solid red;
	}
	
	.commodities {
		padding-top: 2%;
		padding-bottom: 2%;
		padding-left: 2%;
		
		font-family: sans-serif;
		font-size: 1.2em;
		
		border: 1px solid red;
	}

	
	span {
		font-family: sans-serif;
		font-size: 1.6em;
		font-weight: bold;
	}
	
	p {
		text-indent: 50px;
		margin-bottom: 10px;
	}
	
	ul {
		border-right: 1px solid white;
		margin-bottom: 10px;
	}
	
	li {
		text-decoration: none !important;
		font-family: sans-serif;
		
		font-weight: normal;
		margin-left: 50px;
		padding-left: 10px;
		color: black;
	}
	
	li:hover {
		text-decoration: none !important;
		font-family: sans-serif;
		font-weight: normal;
		cursor: pointer;
		color: blue;
	}
	
	#to_ask {
		padding-left: 2%;
		font-family: sans-serif;
		font-size: 1.0em;
		font-weight: normal;
		text-indent: 50px;
		color: black;
		
		border: 1px solid red;
	}
	
	.contacts a {
		text-decoration: none !important;
		color: black;
	}
	.contacts a:hover {
		text-decoration: none !important;
		color: blue;
	}
	/*#catlog_img:hover {
		margin: 0 auto;
		position: relative;
		top: 0px;
		
		
		/*transform: scale(1.1) rotate(0.009turn);
		transition: 1s;*/
		/*justify-content: center;
	}*/
	
	
	a {
		font-family: sans-serif;
		font-weight: normal;
	}
	
	footer {
		/*position: fixed;*/
		left: 0;
		right: 0;
		bottom: 0;
    }
	
	#footer_itemsMenu {
		display: none;
	}
}











/*PC-версия*/
@media (min-width: 769px){
	.product {
		height: calc(100vh - 190px);
		width: 100vw;
			
		float: left;
	    align-content : center;
		justify-content: center;
		align-items: stretch;
	}
	
	/*Возврат к Главной странице*/
	div #come_back {
		display: flex;
		flex-wrap: nowrap;
	    flex-direction: row;
		
		z-index: 1;
		
		width: 100vw;
		height: 3vh;
		
		list-style-type: none;
	    padding-left: 5px;
		padding-top: 5px;
		font-family: sans-serif;
		font-size: 1.0em;
		font-weight: bold;
		
		border: 1px solid red;
	}
	
	#back_home a {
		text-decoration: none !important;
		cursor:pointer;
		color: black;
	}
	
	#this_page {
		cursor:pointer;
	}
	
	#back_home a::after {
		display: inline-block;
		color: black;
		content: ' > ';
	}
	#back_home a:hover {
		display: inline-block;
		color: blue;
		border-bottom: 1px solid black;
	}
	
	/***/
	
	div #pc_catlog_img {
		left: 0;
		top: 0;
		
		height: 100%;
		width: auto;
		object-fit: cover;
		z-index: auto;
	}
	
	div #mobile_catalog_img {
		display: none;
	}
	
	img {
		image-rendering: -moz-crisp-edges; /* Firefox */
		-ms-interpolation-mode: nearest-neighbor;  /* IE */
		image-rendering: crisp-edges; /* Стандартное свойство */
	}
	

	.about_this {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		
		padding-left: 10px;
		height: calc(95vh - 190px);
		width: 100vw;
		
		z-index: 1;
	}
	
	
	
	.img-preview {
		position: relative;
		
		margin-top: 1vh;
		margin-bottom: 1vh;
		margin-left: 5px;
		
		object-fit: cover;
		overflow: hidden;
		
		border-radius: 8px;
		
		border: 1px solid red;
	}
	
	div #pc_img {
		height: calc(94vh - 190px);
		width: auto;
		
		
		z-index: 1;
	}
	
	div #mobile_img {
		display: none;
	}
	
	img {
		image-rendering: -moz-crisp-edges; /* Firefox */
		-ms-interpolation-mode: nearest-neighbor;  /* IE */
		image-rendering: crisp-edges; /* Стандартное свойство */
	}
	
	.commodities {
		font-family: sans-serif;
		/*ont-size: 1.6em;*/
		
		font-size: calc(1.6em - 0.2vh);
		
		font-weight: normal;
		width: calc(66vw - 10px);
		
		margin-top: 1vh;
		padding-left: 2vw;
		padding-right: 2vw;
		margin-bottom: 2vh;
		border: 1px solid red;
	}

	span {
		font-family: sans-serif;
		/*font-size: 3.0em;*/

		font-size: calc(3.0em - 0.2vh);
		font-weight: bold;
	}
	
	p {
		text-indent: 50px;
		margin-bottom: 10px;
	}
	
	ui {
		margin-bottom: 10px;
	}
	
	li {
		text-decoration: none !important;
		font-family: sans-serif;
		font-weight: normal;
		margin-left: 50px;
		padding-left: 10px;
		color: black;
	}
	
	li:hover {
		text-decoration: none !important;
		font-family: sans-serif;
		font-weight: normal;
		cursor: pointer;
		color: blue;
	}
	
	#to_ask {
		width: calc(70vw - 10px);
		font-family: sans-serif;
		/*font-size: 1.6em;*/
		
		font-size: calc(1.6em - 0.2vh);
		
		font-weight: normal;
		text-indent: 50px;
		color: black;
		border: 1px solid red;
	}
	
	.contacts a {
		text-decoration: none !important;
		color: black;
	}
	.contacts a:hover {
		text-decoration: none !important;
		color: blue;
	}


	
	
	
	footer {
		/*position: fixed;*/
		left: 0;
		right: 0;
		bottom: 0;
    }

	#footer_href_index {		
		color: #8A8A8A;
		text-align: left;
    }
	
	#footer_href_about_us {		
		color: #8A8A8A;
		text-align: left;
	}
	
	.footer > a {
		text-decoration: none !important;
		font-family: sans-serif;
		font-size: 0.1em;
		font-weight: normal;
	}
	
	#footer_contacts a {
		text-decoration: none !important;
		color: #8A8A8A;
	}
	
	#website_autor a {
		text-decoration: none !important;
		color: #8A8A8A;
	}
}
