@charset "utf-8";

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav {
  display: block;
}

::selection {background: #6accd7; color: #fff;}
::-moz-selection {background:#6accd7; color: #fff;}


body {
	height: 100vh;
	width: 100vw;
}

/*мобильная версия*/
@media (max-width: 768px){
	
	html::-webkit-scrollbar {
		scroll-behavior: smooth;
	}
	
	.catalogs {
		display: flex;
		flex-direction: colomn;
		flex-wrap: wrap;
		height: 100vh;
		gap: 5px;
		align-items: center;
		
		border: 1px solid red;
		
		overflow-y: scroll; /* scroll, not auto */
		-webkit-overflow-scrolling: touch; /* для iOS Safari*/
		
	}
	
	.catalogs::-webkit-scrollbar {
	    width: 100vw;
		scroll-behavior: smooth;
	}
	
	.section {
		display: flex;
		/*position: relative;*/
		margin: 0 auto;
		
		align-content : center;
		/*justify-content: center;*/
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
		border-radius: 5px;

		/*height: calc((100vh - 170px)/5);*/
		height: 200px;
		width: 100vw;
		
		object-fit: cover;
		overflow: hidden;
		
		border: 1px solid red;
	}
	
	.catalog_img {
		object-fit: cover;
		overflow: hidden;

		image-rendering: -moz-crisp-edges; /* Firefox */
		-ms-interpolation-mode: nearest-neighbor;  /* IE */
		image-rendering: crisp-edges; /* Стандартное свойство */

	}
	.pc_img {
		display: none;
	}
	
	.mobile_img {
		display: block;
		width: 100vw;
		z-index: 0;
		padding-bottom: 100px;
	}
	
	
	.catalog_name {
		display: flex;
		position: absolute;
		margin-left: 10vw;
		z-index: 0;
		width: 90vw;
		
		/*padding-top: 5%;
		padding-bottom: 5%;
		padding-left: 10%;
		padding-right: 5%;*/
		
		font-family: sans-serif;
		font-size: 1.8em;
		font-weight: bold;
		color: white;
		
		
	}
	
	.section .more_about {
		align-self: flex-end;
	}

	.more_about {
		display: flex;
		/*position: relative;*/
		
		position: absolute;
		
		margin: 0 auto;
		
		/*height: calc((100vh - 170px)/5);*/
		height: 200px;
		width: 18vw;
		
		/*border-radius: 0.3em;*/
		border-top-left-radius: 0.3em;
		border-bottom-left-radius: 0.3em;
		
		/*background: #130F0F;*/
		opacity: 0.7;
		border: 1px solid red;
		z-index: 0;
	}
	.more_about > a {
		
		width: 18vw;
		text-align: center;
		cursor: pointer;
		text-decoration: none !important;
		font-family: sans-serif;
		font-size: 0.9em;
		font-weight: bold;
		color: white;
	}

	a {
		font-family: sans-serif;
		font-size: 1.2em;
		font-weight: normal;
	}
	
	footer {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
    }
	
	#footer_itemsMenu {
		display: none;
	}
}











/*PC-версия*/
@media (min-width: 769px){
	
	.catalogs {
		display: flex;
	    flex-direction: row;
		flex-wrap: nowrap;
		gap: 5px;
		
		width: 100vw;
		
		margin-top: 5px;
		margin-bottom: 5px;
		
		justify-content: center;
		align-items: stretch;
	}
	.catalogs a {
		text-decoration: none !important;
		font-family: sans-serif;
		font-size: 0.9em;
		font-weight: normal;
	}
	
	.section {
		background-color: #fff;
		
		height: calc(100vh - 190px);
		max-width: 20vw - 2.5px;
		object-fit: cover;
		overflow: hidden;
		
		border-radius: 5px;
		-webkit-border-radius: 5px;
        -moz-border-radius: 5px;
		
		filter: grayscale(1);
		
		transition: 1s;
		
		border: 1px solid red;
	}
	.section:hover {
		filter: grayscale(0);
		object-fit: cover;
		overflow: hidden;
	}
	.section:hover :focus {
		object-fit: cover;
		overflow: hidden;
	}
	.section:hover > .more_about {display: block; }
	.section:hover > .catalog_name {display: block; }
	/*.catalogs > div:focus:target {
		display: none;
    }*/
	.catalog_name {
		display:none;
		position: absolute;
		z-index: 1;
		
		width: calc((100vw - 20px)/5);
		text-align: center;
		
		
		font-family: sans-serif;
		font-size: 1.2em;
		font-weight: bold;
		color: white;
	}
	.catalog_img {
		image-rendering: -moz-crisp-edges; /* Firefox */
		-ms-interpolation-mode: nearest-neighbor;  /* IE */
		image-rendering: crisp-edges; /* Стандартное свойство */
	}
	.pc_img {
		display: inline;
		object-fit: cover;
		height: calc(100vh - 190px);
		max-width: 20vw - 2.5px;
	}
	
	.mobile_img {
		display: none;
	}


	
	.more_about {
		display:none;
		position: absolute;
		height: 30px;
		width: 100px;
		border-radius: 0.3em;
		right: -10px;
		bottom: 0.5%;
		background-color: white;
		cursor: pointer;
		
		opacity: 0.8;
		font-family: sans-serif;
		font-size: 0.9em;
		font-weight: normal;
		text-align: center;
		vertical-align: middle;
		
		z-index: 3;
	}
	

	footer {
		position: fixed;
		left: 0;
		right: 0;
		bottom: 0;
    }

	#footer_href_index {		
		color: #8A8A8A;
		text-align: left;
    }
	
	#footer_href_about_us {		
		color: #8A8A8A;
		text-align: left;
	}
	
	.footer > a {
		text-decoration: none !important;
		font-family: sans-serif;
		font-size: 0.1em;
		font-weight: normal;
	}
	
	#footer_contacts a {
		text-decoration: none !important;
		color: #8A8A8A;
	}
	
	#website_autor a {
		text-decoration: none !important;
		color: #8A8A8A;
	}
}